table {
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 3px solid #000000;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#top_table {
    border: 1px;
    height: 1px;
    width: auto;
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#bottom_table {
    margin-left: 160px;
    margin-right: 160px;
}