* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}


/* Header/Blog Başlığı */

.header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(-90deg, rgb(0, 38, 255), rgb(0, 174, 255));
}

.header h1 {
    font-size: 30px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: rgb(4, 107, 138);
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Fareyle üzerine gelindiğinde rengi değiştir */

.topnav a:hover {
    background-color: rgb(247, 154, 15);
    color: black;
}


/* Sol sütun */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Resim */

img {
    margin-left: 95px;
    width: 190px;
    height: 190px;
    border-radius: 90px;
}


/* sağ sütun */

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/*p tagı  için gerekli*/

p {
    font-style: oblique;
    text-align: center;
    font-size: 23px;
}


/*html içinde yazdığım  metin için gerekli*/

pre {
    font-style: oblique;
    padding-right: 290px;
    font-size: 23px;
}


/* Makaleler için bir kart efekti ekler */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/* Footer için yazıldı. */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}